{% extends 'base.html' %}

{% block bodycontent %}    
    <div class="container text-center">
        <h1>Welcome to Central Bank</h1>
        <h4><em>We do not breakdown</em></h4>
    </div>
    
    <br>
    
    <div class="container">
        <a href=""><button class="btn btn-warning btn-block" id="acc"><i class="fa fa-file-text"></i> Create new account</button></a>
        <br> 
        <a href=""><button class="btn btn-success btn-block" id="sign_in"><i class="fa fa-sign-in"></i> Sign in</button></a>
    </div>
    
    <br>
{% endblock %}