{% extends 'profiles/base.html' %}
{% block bodycontent %}

    <section id="welcome_post" class="col-9">
        <h2>Welcome, <span id="prof_name">{{ user }}.</span> </h2>
        <h4 style="font-weight: 300;">It's good to have you here.</h4>   
        <br>
        <div>
            <h2>Manage Branches</h2>
            <a href="/profile/branch/create">Create</a>
           
              <table class="table table-bordered">
                  <thead>
                      <th>Branch Name</th>
                      <th>BranchCode</th>
                  </thead>
                  <tbody>
                      {% for branch in branches %}
                      <tr>
                          <td>{{ branch.branchName}}</td>
                          <td>{{ branch.branchCode}}</td>
                      </tr>
                      {% endfor %}
                  </tbody>

              </table>
          
        </div>
        
      
        
    </section>

{% endblock %}