{% extends 'profiles/base.html' %}

{% block bodycontent %}

    <section id="welcome_post" class="col-9">
        <h2>Welcome, <span id="prof_name">{{ user }}.</span> </h2>
        <h4 style="font-weight: 300;">It's good to have you here.</h4>   
        <br>
        <div>
            <h2>Make Deposit</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <h4>Bank Account Details</h4>
                {{ form }}

                <button>Submit</button>
            </form>
        </div>
        
      
        
    </section>

{% endblock %}